* {
    padding: 0;
    margin: 0;
}
:root { 
    --color-br : #e26868;
}
body{
    background: #d8d9cf !important;
}

nav.navbar.navbar-expand-lg.bg-light {
    background: #fff !important;
    direction: rtl;
    font-family: 'cairo', sans-serif;
}
.navbar-brand {
    font-weight: bolder;
    color: var(--color-br) !important;
    font-size: 25px !important;
}
.form-login {
    position: relative;
    width: 70%;
    margin: 0 auto;
    top: 137px;
    text-align: center;
    background: #f6f6f3;
    padding: 52px;
    border: 1px solid silver;
    box-shadow: -1px 2px 8px 6px #00000029;
    border-radius: 3px;
}
.form-login h5 {
    position: relative;
    top: -22px;
    font-family: 'Cairo',sans-serif;
    font-weight: bolder;
}
button.btn-custom {
    position: relative;
    top: 18px;
    width: 92%;
    height: 38px;
    border: 0;
    background: var(--color-br);
    color: #fff;
    font-family: 'Cairo',sans-serif;
    border-radius: 3px;
}
